@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #F1F4F6
   
}

.icon {
  filter: brightness(0) invert(1);
}


.container {
    max-width: 1400px;
    margin: auto;
  
}